# {{ project_name }}

{{ project_description }}

## Getting started with your project

### Usage
If you have `uv` then just run
```bash
uv run {{ project_slug }}/main.py
```

#### Virtual environment
If you want to deploy venv first just run
```bash
uv sync && source .venv/bin/activate
```
If you don't have `uv`
```bash
python3 -m venv .venv
source .venv/bin/activate
pip install {{ project_slug }}
```

{% if taskfile %}
### Taskfile
You can also rule this project with taskfile. This is just like makefile but better.
Just run `task` to see the options and description of these options.
{% endif %}


{% if dockerfile and docker_compose %}
#### Docker
If you want to locally deploy project with docker-compose then just run
```bash
docker compose up -d
```
If you done with the project and want to to tear down your docker setup just simply run
```bash
docker compose down -v
```
{% endif %}