site_name: {{ project_name }}
site_description: {{ project_description }}
site_author: {{ author }}

nav:
  - Home: index.md
  - Modules: modules.md

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_docstring_attributes: true
            show_docstring_functions: true
            show_docstring_examples: true
            show_docstring_warns: true
            show_docstring_yields: true
            show_bases: false

theme:
  name: material
  features:
    - navigation.indexes
    - navigation.top
    - tabs

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc
